body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#about-background{
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #e9e9e9;
  position: fixed;
  left: 0px;
  top: 0px;
}
.option-list{
  width: 80vw;
  border-radius: 5vw;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 60px;
  padding: 0vw 5vw 0vw 5vw;
}
.options{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.option-line{
  width: 80vw;
  height: 1px;
  background-color: grey;
}
.pages{
  width: 100vw;
  height: 100vh;
  background-color: #fbfbfb;
  position: fixed;
  left: 100vw;
  top: 0px;
  transition: 0.3s;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.page-title{
  font-size: 25px;
}
.page-content{
  font-size: 20px;
  color: black;
  margin: 5px;
} 
.back-btn{
  width: 65px;
  height: 30px;
  background-color: #eee;
  border-radius: 15px;
  position: absolute;
  left:5px;
  top: 5px;
}
#copyright-i{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 20px;
}