#calculator{
  background-image: url("../img/elements/calculator.png");
  background-size: contain;
}
#good-photos{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
} 
#mc-bg{
  background-image: url("https://s1.imagehub.cc/images/2025/04/22/edaec49e3c538441433c474ed678f3bd.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
#music-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("https://cdn.jsdelivr.net/gh/jeong40/jeong40.github.com/img/elements/music.png");
  background-size: cover;
  background-position-x: center;
}
@media screen and (max-width:560px){
  #good-photos-title{
    font-size: 8vw;
  }
  #mc-title{
    font-size: 8vw;
  }

}
@media screen and (min-width:560px){

}
@media screen and (orientation:portrait) and (min-width:560px) {
  #good-photos-title{
    font-size: 4vw;
  }
  #mc-title{
    font-size: 4vw;
  }
}
@media screen and (orientation:landscape) and (min-width:560px){
  #good-photos-title{
    font-size: 2.5vw;
  }
  #mc-title{
    font-size: 5vw;
  }
}