#title-box{
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
}
@media screen and (max-width:560px){
  #title-box{
    background-image: url("../img/elements/home.svg");
    width: 80vw;
    height: 45vw;
  }
}
@media screen and (min-width:560px){
  #title-box{
    width: 560px;
    height: 105px;
    background-image: url("../img/elements/home-landscape.svg");
  }
}
#netcard{
  width: 110%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}