body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bg{
  background-image: url("../img/backgrounds/planks_oak.png");
  image-rendering: pixelated;
  background-size: 320px;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}
#container{
  background-color: rgba(255,255,255,0.3);
  -webkit-backdrop-filter: blur(10px);
  aspect-ratio: 3/4;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#disk{
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px black solid;
  background: repeating-radial-gradient(#000,#000 5%, #1c1c1c 7%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#loading{
  color: white;
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
#cover{
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url("https://cdn.jsdelivr.net/gh/jeong40/jeong40.github.com/img/music-cover/1.png");
  background-size: cover;
  overflow: hidden;
  transform-origin: center center;
  z-index: 2;
}
#music-title{
  font-weight: 900;
}
.controls-container{
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.controls-btn{
  width: 30%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.options{
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.option-title{
  color: black;
}
.option-content{
  color: black;
}
#playing {
  color: rgba(0,0,0,0.0);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#paused {
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 560px){
  #container{
    width: 85vw;
    border-radius: 10vw; 
  }
  #music-title{
    font-size: 9vw;
  }
  #music-author{
    font-size: 4vw;
  }
  #loading{
    font-size: 5vw;
  }
  .controls-container{
    width: 85vw;
    height: 20vw;
    border-radius: 10vw;
  }
  .controls-btn{
    font-size: 15vw;
  }
  .options{
    width: 85vw;
    border-radius: 10vw;
  }
  .option-title{
    font-size: 10vw; 
  }
  .option-content{
    font-size: 8vw;
    margin: 2vw;
  }
  #playing{
    font-size: 15vw;
  }
  #paused{
    font-size: 15vw;
  }
}
@media screen and (min-width: 560px){
  #container{
    width: 476px;
    border-radius: 56px;
  }
  #music-title{
    font-size: 50.4px;
  }
  #music-author{
    font-size: 22.4px
  }
  #loading{
    font-size: 28px;
  }
  .controls-container {
    width: 476px;
    height: 112px;
    border-radius: 56vw;
  }
  .controls-btn{
    font-size: 84px;
  }
  .options{
    width: 476px;
    border-radius: 56px;
  }
  .option-title{
    font-size: 56px;
  }
  .option-content{
    font-size: 44.8px;
    margin: 11.2px;
  }
  #playing{
    font-size: 84px;
  }
  #paused{
    font-size: 84px;
  }}