.DL-icon{
  position: absolute;
}
.DL{
  margin-top: 60px;
  padding: 0px;
}
.DL-title{
  color: black;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.DL-btn{
  position: absolute;
  background-color: white;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.DL-content{
  color: black; 
}
@media screen and (max-width:560px){
  .DL{
    height: 26vw;
  }
  .DL-icon{
    width: 20vw;
    border-radius: 5vw;
    top: 3vw;
    left: 3vw;
  }
  .DL-title{
    font-size: 10vw;
  }
  .DL-btn{
    left: 85%;
    top: 50%;
    width: 20vw;
    height: 15vw;
    border-radius: 5vw;
    font-size: 5vw;
  }
  .DL-content{
    font-size: 6vw;
  }
}
@media screen and (min-width:560px){
  .DL{
    height: 145.6px;
  }
  .DL-icon{
    width: 112px;
    border-radius: 28px; 
    left: 16.8px;
    top: 16.8px;
  }
  .DL-title{
    font-size: 56px;
  }
  .DL-btn{
    width: 112px;
    height: 84px;
    left: 428.4px;
    top: 50%;
    border-radius: 28px;
    font-size: 28px;
  }
  .DL-content{
    font-size: 33.6px;
  }
}